*{
    font-family: 'Open Sans', sans-serif;
}
body , html{
    overflow-x: hidden;
}
img{
    object-fit:cover
}
h1{
    color: #ffc107;
    text-transform: capitalize
}
#btnUpDown{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    z-index: 111111
}
#loading-screen{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 554847;
}
.spin{
  width:50px;
  height:50px;
  margin:400px auto;
  border-radius:50%;
  border:5px solid #ddd;
  border-top:5px solid #ffc107;
  animation: spinning 1s linear infinite 
}
@keyframes spinning{
  0% {
    transform:rotatez(0)
  }
  100%{
    transform:rotatez(360deg);
  }
}
.home{
    height: 100vh
}
nav{
    z-index: 999;
}
.nav-link{
    color: #ffffff !important;
    text-transform: capitalize;
    font-weight: 600;
    transition:all .5s ease
}
.navbar-brand {
    font-family: 'Charm', cursive;
    color: #ffc107 !important;
    font-size: 40px;
    z-index: 999;
    transition:all .5s ease
}
.nav-item:hover .nav-link {
    color: #686868 !important;
    
}
.navbar-brand:hover{
    color: #686868 !important;
    
}
.bg-change{
    background-color: #09c!important
}

.content .par div{
    margin: 5%;
    border: 1px solid #ffc107;
    height: 100vh;
}
.footer{
    background-color: #292727;
    color: #686868
}
.footer >div>div{
    border: 1px solid #ffc107;
}
.footer .em{
    border: none
}
.bb{
    line-height: 200%
}